@import url("https://fonts.googleapis.com/css?family=Outfit");
body {
  margin: 0;
  background: hsl(212, 45%, 89%);
}
.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card {
  margin: auto;
  max-width: 400px;
  border-radius: 10px;
  background-color: white;
  padding: 5px 5px 15px 5px;
  flex-direction: column;
  justify-content: center;
}

.card > div.qr_image img {
  width: 100%;
  height: 100%;
  margin: 0px !important;
  border-radius: 10px;
}
.card > .title {
  margin-top: 20px;
  margin-bottom: 20px;
  color: hsl(218, 44%, 22%);
  font-size: 18px;
  font-weight: 700;
  font-family: "Outfit";
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}
.card > .content {
  font-family: "Outfit";
  font-size: 16px;
  color: hsl(213, 21%, 62%);
  padding: 2px 50px 2px 50px;
  text-align: center;
  font-weight: 500;
}
